-- Generated SQL INSERT statements for customers from DataPelanggan.csv
-- Customer registration dates are preserved from the original CSV data
-- Run this in Supabase SQL Editor after duplicate cleanup

-- Step 1: Verify employees are available
SELECT id, name, email, role FROM public.users WHERE role = 'employee' ORDER BY name;

-- Step 2: Insert customers (unique by name + address combination)

-- Step 3: Verify inserted customers with registration dates
SELECT 
    c.name as customer_name,
    c.address,
    u.name as employee_name,
    c.latitude,
    c.longitude,
    c.notes,
    c.created_at as registration_date
FROM public.customers c
JOIN public.users u ON c.employee_id = u.id
ORDER BY c.created_at DESC, u.name, c.name;

-- Step 4: Count customers per employee
SELECT 
    u.name as employee_name,
    COUNT(c.id) as total_customers,
    MIN(c.created_at) as first_registration,
    MAX(c.created_at) as last_registration
FROM public.users u
LEFT JOIN public.customers c ON u.id = c.employee_id
WHERE u.role = 'employee'
GROUP BY u.id, u.name
ORDER BY u.name;

-- Step 5: Customer registration timeline
SELECT 
    DATE(c.created_at) as registration_date,
    COUNT(*) as customers_registered,
    STRING_AGG(DISTINCT u.name, ', ') as employees_active
FROM public.customers c
JOIN public.users u ON c.employee_id = u.id
GROUP BY DATE(c.created_at)
ORDER BY registration_date DESC
LIMIT 20;

-- Total unique customers processed: 646
